html {
    font-size: 16px;
}


body {
    background-color: #f0e3d2;
    color: #414833;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    margin: 0;
}



/*Header styling*/
a {
    color: #414833;
    text-decoration: none;
}

.milogo {
    margin-left: 0.5rem;
    margin-bottom: 0rem;
    top: 0.5rem;
    position: relative;
    height: 2rem;
    width: 2rem;
}

nav {
    margin-right: 2rem;
    margin-bottom: 0rem;
    top: 0.3rem;
    position: relative;
}

header {
    justify-content: space-between;
    position: fixed;
    display: flex;
    width: 100%;
    height: 3rem;
    align-items: center;
    border-bottom: solid #414833 1px;
    z-index: 1;
    background-color: #f0e3d2;
    margin-top: -0.5rem;
}


li {
    display: inline;
    font-weight: bolder;
    text-decoration: none;
    color: #414833;
    padding-left: 1rem;
}

/*Main styling*/

main {
    position: relative;
    top: 2.5rem;
    width: 100%;
}




.infosAboutMi {
    display: flex;
    justify-content: space-around;
    height: 42.5rem;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: relative;
    align-items: center;
    background-color: #414833;
    color: #f0e3d2;
}

.infosAboutMi p {
    font-size: 1.5rem;
} 

.infosAboutMi article {
    width: 100%;
    height: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}



.mySkills {
    padding-top: 3rem;
    height: 14rem;
    padding-bottom: 1.5rem;
    width: 100%;
}

.logocontainer {
    display: flex;
    justify-content: space-around;
    padding-left: 7rem;
    padding-right: 7rem;
}

.logocontainer .logo {
    height: 5rem;
    width: 5rem;
    padding-top: 1rem;
}

.myProjects {
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #414833;
    color: #f0e3d2;
}

.projects {
    display: flex;
    justify-content: space-evenly;
}

.project {
    width: 25%;
}

.project img {
    width: 20rem;
    border: 1px solid black;
}

.contactMe {
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #f0e3d2;
    color: #414833;
}

.contacts {
    display: flex;
    justify-content: space-around;
    height: 11rem;
    align-items: center;
}

.contact {
    width: 30%;
}

.email {
    width: 14rem;
}

input, textarea {
    background-color: #f0e3d2;
    color: #414833;
}

footer {
    position: relative;
    width: 100%;
    background-color: #f0e3d2;
    height: 3rem;
}

footer p {
    top: 0.9rem;
    position: relative;
    width: 97%;
    text-align: right;
}

.footer {
    color: #414833;
}