html {
    font-size: 16px;
}



body {
    background-color: #f0e3d2;
    color: #414833;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    margin: 0;
}



/*Header styling*/
a {
    color: #414833;
    text-decoration: none;
}

.milogo {
    margin-left: 0.5rem;
    margin-bottom: 0rem;
    top: 0.5rem;
    position: relative;
    height: 2rem;
    width: 2rem;
}

nav {
    margin-right: 2rem;
    margin-bottom: 0rem;
    top: 0.3rem;
    position: relative;
}

header {
    justify-content: space-between;
    position: fixed;
    display: flex;
    width: 100%;
    height: 3rem;
    align-items: center;
    border-bottom: solid #414833 1px;
    z-index: 1;
    background-color: #f0e3d2;
    margin-top: -0.5rem;
}


li {
    display: inline;
    font-weight: bolder;
    text-decoration: none;
    color: #414833;
    padding-left: 3rem;
}

/*dropdown*/

.dropbtn {
    background-color: #f0e3d2;
    color: #414833;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    background-color: #f0e3d2;
    color: #414833;
    min-width: 10rem;
    z-index: 1;
}

.dropdown-content a {
    color: #414833;
    padding: 0.8rem 1rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ead7bf;
}

.show {
    display: block;
}

main {
    position: relative;
    top: 2.5rem;
    width: 100%;
}




.infosAboutMi {
    display: flex;
    justify-content: space-around;
    height: 30rem;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: relative;
    align-items: center;
    background-color: #414833;
    color: #f0e3d2;
}

.infosAboutMi p {
    font-size: 1.5rem;
} 

.infosAboutMi article {
    padding-left: 4rem;
}

.infosAboutMi div {
    height: 25rem;
    width: 20rem;
    padding-right: 4rem;
    display: flex;
    align-items: center;
}


.infosAboutMi img {
    width: 100%;
    height: auto;
}

.mySkills {
    padding-top: 3rem;
    height: 14rem;
    padding-bottom: 1.5rem;
    width: 100%;
}

.skilllogos {
    display: flex;
    justify-content: space-around;
    padding-left: 7rem;
    padding-right: 7rem;
}

.logocontainer {
    height: 5rem;
    width: 5rem;
    margin: 0.5rem;
}

.logocontainer .logo {
    width: 100%;
    height: auto;
}

a h3 {
    color: #f0e3d2;
}

.myProjects {
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #414833;
    color: #f0e3d2;
}

.projects {
    display: flex;
    justify-content: space-evenly;
}

.project {
    width: 25%;
}

.project a h3 {
    text-decoration: underline;
}

.project a h3:hover{
    text-decoration: none;
}

.project img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    transition: 0.35s;
}

/*.project img:hover {
    transform: scale(1.5);
}*/

.contactMe {
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #f0e3d2;
    color: #414833;
}

.contacts {
    display: flex;
    justify-content: space-around;
    height: 11rem;
    align-items: center;
}

.contact {
    width: 30%;
}

.contactpic {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
}


footer {
    position: relative;
    top: 2.5rem;
    width: 100%;
    background-color: #414833;
    color: #f0e3d2;
    height: 3rem;
}

footer p {
    top: 0.9rem;
    position: relative;
    width: 97%;
    text-align: right;
}

.footer {
    color: #f0e3d2;
}


/*get rid of blank space in small desktop mode*/
@media only screen and (max-width: 1030px) {
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
}


/*Big Tablet Version*/

@media only screen and (max-width: 1024px) {
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }

}


/*Small Tablet Version*/

@media only screen and (max-width: 767px) {
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
}

/*Correct the Personal Portfolio Text*/
@media only screen and (max-width: 889px) {
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }

    #higher {
        position: relative;
        bottom: 1.4rem;
    }
}

/*Mobile Version*/

@media only screen and (max-width: 480px) {
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
}